{% extends 'emails/base.html'%}
{%block content%}
<style>
    iframe{
        width: 100%;
        height: 800px;
    }
</style>
<h5>
    Email: <a href="{%url 'emails:email' email.pk%}">{{email}}</a>
</h5>
<h5>
    Date: {{mail.send_time}}
</h5>
<h5>
    Subject: {{mail.subject}}
</h5>
<h5>
    From: {{mail.author}}
</h5>
<div class="container">
    {%for link in mail.links.all%}
    <p>{{link}}</p>
    {%endfor%}
</div>



<iframe srcdoc="{{mail.html_text}}" frameborder="0" id="iFrame1"></iframe>

{%endblock%}